<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Online Shopping Center</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    

    <link rel="stylesheet" href="~/Content/nhatnghe.css" />
</head>
<body class="container">


   @* @RenderPage("_Menu.cshtml")*@
   @* @RenderBody()
*@
    <body class="container">
        <!-- MENU -->
       
        @RenderPage("_Menu.cshtml")

        <div class="container mt">
            <main class="row">
                <article class="col-sm-9">
                    <div class="row">
                        @RenderBody()
                    </div>
                </article>
                <aside class="col-sm-3">
                    @*Aside*@
                    @RenderPage("_Admin_Aside.cshtml")

                </aside>
            </main>
        </div>
        <footer class="main-footer">
            <div class="container">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="footer-col footer-block">
                                <h4 class="footer-title">
                                    Giới thiệu
                                </h4>
                                <div class="footer-content">
                                    <p>
                                        Runner Inn trang mua sắm trực tuyến của thương hiệu giày, thời trang nam, nữ, phụ kiện, giúp bạn
                                        tiếp
                                        cận xu hướng thời trang mới nhất.
                                    </p>
                                    <div class="logo-footer">
                                        <img src="~/Content/images/logo-bct.png" alt="Bộ Công Thương">
                                    </div>
                                    <div class="social-list">
                                        <a href="#" class="fab fa-facebook"></a>
                                        <a href="#" class="fab fa-google"></a>
                                        <a href="#" class="fab fa-twitter"></a>
                                        <a href="#" class="fab fa-youtube"></a>
                                        <a href="#" class="fab fa-skype"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="footer-col footer-link">
                                <h4 class="footer-title">
                                    PHÁP LÝ &amp; CÂU HỎI
                                </h4>
                                <div class="footer-content toggle-footer">
                                    <ul>
                                        <li class="item">
                                            <a href="#" title="Tìm kiếm">Tìm kiếm</a>
                                        </li>
                                        <li class="item">
                                            <a href="#" title="Giới thiệu">Giới thiệu</a>
                                        </li>
                                        <li class="item">
                                            <a href="#" title="Chính sách đổi trả">Chính sách đổi trả</a>
                                        </li>
                                        <li class="item">
                                            <a href="#" title="Chính sách bảo mật">Chính sách bảo mật</a>
                                        </li>
                                        <li class="item">
                                            <a href="#" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="footer-col footer-block">
                                <h4 class="footer-title">
                                    Thông tin liên hệ
                                </h4>
                                <div class="footer-content toggle-footer">
                                    <ul>
                                        <li><span>Địa chỉ:</span> 117-119 Lý Chính Thắng, Phường 7, Quận 3, TP. Hồ Chí Minh, Vietnam</li>
                                        <li><span>Điện thoại:</span> +84 (028) 38800659</li>
                                        <li><span>Fax:</span> +84 (028) 38800659</li>
                                        <li><span>Mail:</span> contact@aziworld.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="footer-col footer-block">
                                <h4 class="footer-title">
                                    FANPAGE
                                </h4>
                                <div class="footer-content">
                                    <div id="fb-root">
                                        <div class="footer-static-content">
                                            <div class="fb-page" data-href="https://www.facebook.com/AziWorld-Viet-Nam-908555669481794/"
                                                 data-tabs="timeline" data-width="" data-height="215" data-small-header="false"
                                                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                                <blockquote cite="https://www.facebook.com/AziWorld-Viet-Nam-908555669481794/"
                                                            class="fb-xfbml-parse-ignore">
                                                    <a href="https://www.facebook.com/AziWorld-Viet-Nam-908555669481794/">AziWorld Viet Nam</a>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer--copyright">
                <div class="container">
                    <hr>
                    <div class="main-footer--border" style="text-align:center;padding-bottom: 15px;">
                        <p>
                            Copyright © 2019 <a href="https://runner-inn.myharavan.com"> Runner Inn</a>. <a target="_blank"
                                                                                                            href="https://www.facebook.com/henrynguyen202">Powered by HuniBlue</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</body>
</html>