@model Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-user"></i>
                <b> CẬP NHẬT MẬT KHẨU</b>
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.NewPassWord, htmlAttributes: new { @class = "control-label  col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewPassWord, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassWord, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfimPassword, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfimPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfimPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.HiddenFor(a => a.ResetCode)
            </div>

        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-ok"></i> Lấy lại mật khẩu
            </button>
            <b class="pull-left text-danger"><i> @ViewBag.Message</i></b>
        </div>
    </div>


}

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}