@*phân trang phải sài hai cái này*@
@model PagedList.IPagedList<Model.EL.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}





@*<h3>@Request.Cookies["YourList"].Value</h3>*@
@foreach (var item in Model)
{
    <div class="col-sm-4" data-item="@item.Id">
        <div class="panel panel-primary nn-prod">
            <div class="panel-heading text-center">
                @item.Name
            </div>
            <div class="panel-body text-center">
                <a href="/Products/Details/@item.Id">
                    <img src="~/Content/images/items/@item.Image">
                </a>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-4 text-left text-primary">@item.UnitPrice VNĐ</div>
                    <div class="col-xs-8 text-right">
                        <div class="btn-group btn-group-sm">

                            <button class="btn btn-primary glyphicon glyphicon-shopping-cart add-to-cart"></button>
                            <button class="btn btn-success glyphicon glyphicon-envelope" data-toggle="modal" data-target="#myModal"></button>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Thêm mã phân trang -->

<br />
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
</div>

