@model IEnumerable<Model.EL.Report>
@using Model.EL;
@{
    ViewBag.Title = "TK_Tonkho";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}
<h2>Thống kê hàng tồn KHO</h2>
@{
    //List<Report> r = new List<Report>();
    DataContext db = new DataContext();
    var tonkho = db.Products.GroupBy(p => p.Category).OrderByDescending(p => p.Sum(c => c.UnitPrice * c.Quantity))
                .Select(p => new
                {
                    group = p.Key.NameVN.ToString(),
                    Sum = p.Sum(c => c.UnitPrice * c.Quantity),

                    Count = p.Sum(c => c.Quantity),
                    Min = p.Min(c => c.UnitPrice),
                    Max = p.Max(c => c.UnitPrice),
                    Avg = p.Average(c => c.UnitPrice)
                });
    <table class="table">
        <tr>
            <th>
                Tên loại hàng
            </th>
            <th>
                Tổng giá trị
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá trị mặt hàng nhỏ nhất
            </th>
            <th>
                Giá trị mặt hàng lớn nhất
            </th>
            <th>
                Giá trị trung bình mặt hàng
            </th>
        </tr>
        @foreach (var item in tonkho)
        {
            <tr>
                <td>
                    @item.group
                </td>
                <td>
                    @item.Sum
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @item.Min
                </td>
                <td>
                    @item.Max
                </td>
                <td>
                    @item.Avg
                </td>
            </tr>
        }
    </table>
 }

