@model PagedList.IPagedList<Model.EL.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/slideshow_1.jpg" alt="Los Angeles">
        </div>

        <div class="item">
            <img src="~/Content/images/slideshow_2.jpg" alt="Chicago">
        </div>

        <div class="item">
            <img src="~/Content/images/slideshow_1.jpg" alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@foreach (var item in Model)
{
    <div class="col-sm-4 mt" data-item="@item.Id">
        <div class="panel panel-primary nn-prod">
            <div class="panel-heading text-center">
                @item.Name
            </div>
            <div class="panel-body text-center">

                <a href="/Products/Details/@item.Id">
                    <img src="~/Content/images/items/@item.Image">
                </a>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-4 text-left text-primary">@item.UnitPrice VNĐ</div>
                    <div class="col-xs-8 text-right">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-primary glyphicon glyphicon-shopping-cart add-to-cart"></button>
                            <button class="btn btn-success glyphicon glyphicon-envelope" data-toggle="modal" data-target="#myModal"></button>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">CHIA SẼ CHO NGƯỜI THÂN, BẠN BÈ</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group col-sm-6">
                                                <label class="top-right">Người gửi </label>
                                                <input id="sender" placeholder="Sender email?" class="form-control">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Người nhận</label>
                                                <input id="receiver" placeholder="Receiver email?" class="form-control">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Tiêu đề</label>
                                                <input id="subject" placeholder="Subject?" class="form-control">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Nội dung</label>
                                                <textarea id="content" placeholder="Content?" class="form-control"></textarea>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success share">Gửi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<!-- Thêm mã phân trang -->

<br />
@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount *@
<div class="col-lg-offset-4">
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
</div>


