@model List<Web.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <td>Mã sản phẩm</td>
            <td>Tên sản phảm</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>@item.ProductId</tr>
            <tr>@item.name</tr>
            <tr>
                @if (item.Price <= 0)
                {
                    @Html.DisplayText("0");
                }
                else
                {
                    @item.Price
                }
            </tr>
            <tr>@item.Disc</tr>
            <tr>@item.getAmount()</tr>
        }

    </tbody>
</table>
