@model List<Web.Models.CartItem>
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count > 0)
{
    double total = 0;
    int stt = 1;
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><b>GIỎ HÀNG CỦA BẠN</b></h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Giảm giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="cart-tbody">
                @foreach (var item in Model)
                {
                    double thanhtien = item.product.UnitPrice * item.quantity * (1 - item.product.Discount);
                    total += thanhtien;
                    <tr data-item='{"id": @item.product.Id, "price": @item.product.UnitPrice, "disc": @item.product.Discount}'>
                        <td>@(stt++)</td>
                        <td><a href="/products/details/@item.product.Id">@item.product.Name</a></td>
                        <td>$ @item.product.UnitPrice.ToString("n0")</td>
                        <td>@(item.product.Discount * 100)%</td>
                        <td>
                            <input class="quantity_item" type="number" min="1" style="width:50px" value="@item.quantity"
                                   onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                        </td>
                        <td class="amount"> @thanhtien.ToString("n0") đ</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-danger glyphicon glyphicon-trash delete_item"></button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="panel-footer text-right">
            <a href="/" class="btn btn-sm btn-info">
                <i class="glyphicon glyphicon-hand-left"></i> Mua thêm
            </a>
            <button class="btn btn-sm btn-warning clearAll">
                <i class="glyphicon glyphicon-trash"></i> Xóa hết
            </button>

            @if (Session["User"] != null)
            {

            }
            else
            {
                <a href="/order/checkout" class="btn btn-sm btn-success checkOut">
                    <i class="glyphicon glyphicon-ok"></i> Kiểm tra
                </a>
            }

            <b class="pull-left">Tổng tiền: <i class="cart_amt">@total.ToString("n0") đ</i></b>
        </div>
    </div>

    if (Session["User"] != null)
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Thông tin đơn hàng</b></h3>
            </div>

            <form action="/order/checkout" method="post" class="panel-body">
                <div class="form-group">
                    <label>Địa chỉ giao hàng:</label>
                    <input name="Address" placeholder="Địa chỉ giao hàng?" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ghi chú:</label>
                    <textarea name="Notes" placeholder="Ghi chú?" rows="3" class="form-control"></textarea>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-danger purchase">
                        <i class="glyphicon glyphicon-gbp"></i>
                        Thanh Toán
                    </button>
                </div>
            </form>
        </div>

    }

    @section Cart {
        <script>
            $(function () {
                $(".quantity_item").on("change", function (event) {

                    var quantity = $(this).val();
                    var item = JSON.parse($(this).parents("[data-item]").attr("data-item"));
                    $.ajax({
                        url: `UpdateCart?id=${item.id}&quantity=${quantity}`,
                        method: 'POST',
                        success: function (resp) {
                            window.location.href = 'ShowCart';
                        }
                    });

                })

                $(".clearAll").on("click", function (event) {
                    $.ajax({
                        url: `/ShoppingCart/ClearCart`,
                        success: function (resp) {
                            window.location.href = 'ShowCart';
                        }
                    });
                })

                $(".delete_item").on("click", function (event) {
                    var item = JSON.parse($(this).parents("[data-item]").attr("data-item"));
                    console.log(item);
                    $.ajax({
                        url: `/ShoppingCart/RemoveItem?id=${item.id}`,
                        method: 'POST',
                        success: function (resp) {
                            window.location.href = 'ShowCart';
                        }
                    });
                    $(this).parents("[data-item]").hide(500);
                })
            })
        </script>
    }
}
else
{
    <p class="text-danger">Chưa có sản phẩm nào trong giỏ hàng</p>
}