@model List<Web.Models.CartItem>
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count > 0)
{
    double total = 0;
    int stt = 1;
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><b>YOUR SHOPPING CART</b></h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th>Discount</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="cart-tbody">
                @foreach (var item in Model)
                {
                    double thanhtien = item.product.UnitPrice * item.quantity * (1 - item.product.Discount);
                    total += thanhtien;
                    <tr data-item='{"id":"@item.product.Id","price":@item.product.UnitPrice,"disc":@item.product.Discount}'>
                        <td>@(stt++)</td>
                        <td><a href="/product/detail/@item.product.Id">@item.product.Name</a></td>
                        <td>$ @item.product.UnitPrice.ToString("n0")</td>
                        <td>@(item.product.Discount * 100)%</td>
                        <td>
                            <input class="quantity_item" type="number" min="1" style="width:50px" value="@item.quantity"
                                   onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                        </td>
                        <td class="amount">$ @thanhtien.ToString("n0")</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-danger glyphicon glyphicon-trash delete_item"></button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="panel-footer text-right">
            <a href="/product/x" class="btn btn-sm btn-info">
                <i class="glyphicon glyphicon-hand-left"></i> Add More
            </a>
            <button class="btn btn-sm btn-warning clearAll">
                <i class="glyphicon glyphicon-trash"></i> Clear All
            </button>
            <a href="/order/checkout" class="btn btn-sm btn-success checkOut">
                <i class="glyphicon glyphicon-ok"></i> Checkout
            </a>
            <b class="pull-left">Total Amount: <i class="cart_amt">@total.ToString("n0")</i></b>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><b>ORDER INFORMATION</b></h3>
        </div>

        <form action="/order/checkout" method="post" class="panel-body">
            <div class="form-group">
                <label>Shipping Address:</label>
                <input name="Address" placeholder="Shipping Address?" class="form-control">
            </div>
            <div class="form-group">
                <label>Notes:</label>
                <textarea name="Notes" placeholder="Write something here?" rows="3" class="form-control"></textarea>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-danger purchase">
                    <i class="glyphicon glyphicon-gbp"></i>
                    Purchase
                </button>
            </div>
        </form>
    </div>

    @section Cart {
        <script>
            $(function () {


                $(".quantity_item").on("change", function (event) {

                    var quantity = $(this).val();
                    var item = JSON.parse($(this).parents("[data-item]").attr("data-item"));
                    $.ajax({
                        url: `UpdateCart?id=${item.id}&quantity=${quantity}`,
                        method: 'POST',
                        success: function (resp) {
                            window.location.href = 'ShowCart';
                        }
                    });

                })

                $(".clearAll").on("click", function (event) {
                    $.ajax({
                        url: `ClearCart`,
                        success: function (resp) {
                            window.location.href = 'ShowCart';
                        }
                    });
                })

                $(".delete_item").on("click", function (event) {
                    var item = JSON.parse($(this).parents("[data-item]").attr("data-item"));
                    $.ajax({
                        url: `RemoveCart?id=${item.id}`,
                        method: 'POST',
                        success: function (resp) {
                            window.location.href = 'ShowCart';
                        }
                    });
                    $(this).parents("[data-item]").hide(500);
                })
            })
        </script>
    }
}
else
{
    <p class="text-danger">Chưa có sản phẩm nào trong giỏ hàng</p>
}